<head>
  <link rel='stylesheet' type='text/css' href='/css/accom.css' />
</head>

<br>
<br>
<br>
<br>
    
    <h2> Current Single Room Accomadation:</h2>
    <h2><a href="https://www.hilton.com/en/hotels/dcawdht-home2-suites-woodbridge-potomac-mills/">Home2 Suites by Hilton Woodbridge Potomac Mills</a></h2>
      
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\images\home2suites-building.jpg" class="d-block w-100" alt="Picture of Location">
          </div>
          <div class="carousel-item">
            <img src="\images\home2-outside.jpeg" class="d-block w-100" alt="Picture of Map">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br>
      <section class="hotel-info">

      <p class="address"><strong>Address: 14005 Telegraph Road</strong></p>
      <br>
      <p class="phone"><strong>Phone: 5714272400</strong></p>
      <br>
      <p class="hours-in"><strong>Check In: 3:00 PM</strong></p>
      <p class="hours-out"><strong>Check Out: 11:00 AM</strong></p>
      <br>
      <br>
      <p class="nights"><strong> 2 night: Oct 14 - 16</strong></p>
      <p class="price"><strong>$300 per room</strong></p>

      </section>

      {{!-- <h2> Group Accomadation:</h2>
      <h2><a>TBD</a></h2>
      <img></img>

      <br>

      <section class="hotel-info">

        <br>
        <p class="nights"><strong> 2 night: Oct 14 - 16</strong></p>
        <p class="price"><strong>$300 per room</strong></p>

      </section> --}}


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="./script.js"></script>