<head>
  <link rel='stylesheet' type='text/css' href='/css/explore.css' />
</head>

<br>
<br>
<br>
<br>

       <section class= "row justify-content-evenly align-items-center" id="explore-sections" >

        <h2 class="col-2 explore-ttl">Explore The Area:</h2>

        

        <ul class="col-1 explore-topic-o"><a href="#brunch">Brunches</a></ul>
        <ul class="col-1 explore-topic-p"><a href="#eat">Restaurants</a></ul>
        <ul class="col-1 explore-topic-o"><a href="#bar">Bars & Drinks</a></ul>
        <ul class="col-1 explore-topic-p"><a href="#smok">SmokeShops</a></ul>
        <ul class="col-1 explore-topic-o"><a href="#shop">Shopping</a></ul>
        <ul class="col-1 explore-topic-p"><a href="#smith">Smithsonian</a></ul>
        <ul class="col-1 explore-topic-o"><a href="#his">Historical</a></ul>
        <ul class="col-1 explore-topic-p"><a href="#act">Activities</a></ul>

        
        
      </section>

      <br>
      <br> 

      <h2 class="cats-o" id="brunch">Bottomless Brunches</h2>

      <br>
      <br>

      <div class="entry">
        <p class="name"></p>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="Picture of Location">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="Picture of Inside">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="Picture of Map">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <p class="high"></p>
        <br>

        <p class="addy"></p>
        <p class="hrs"></p>
        <p class="avgp"></p>
        <p class="dfa"></p>
        <p class="dfnm"></p>
      </div>

      <h2 class="cats-p" id="eat">Places To Grab A Bite</h2>

      <br>
      <br>

      <h2 class="cats-o" id="bar">Places To Grab A Drink</h2>

      <br>
      <br>

      <h2 class="cats-p" id="smok">Places To Grab A Smoke</h2>

      <br>
      <br>

      <h2 class="cats-o" id="shop">Shopping Centers</h2>

      <br>
      <br>

      <h2 class="cats-p" id="smith">Smithsonian Institution</h2>

      <br>
      <br>

      <h2 class="cats-o" id="his">Historical</h2>

      <br>
      <br>

      <h2 class="cats-p" id="act">Fun Activities</h2>

      <br>
      <br>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="./script.js"></script>