<head>
  <link rel='stylesheet' type='text/css' href='/css/lineup.css' />
</head>

<br>
<br>
<br>
<br>

<p class="d-inline-flex gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4">SHOW ALL</button>
 </p> 

<div class="row d-grid gap-2 col-6 mx-auto">
<a class="btn bdate" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">FRIDAY THE 13TH</a>
{{!-- <div class="row"> --}}
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body btext">
        V'S BDAY | FIRSTDAYOFTRAVEL | 6PM | FROM-BAMA | TO-GA | ATL | TO-SOUTH CAROLINA | TO-NC | CHAROLETTE | VA-BOUND | RICHMOND | 7-ELEVEN
      </div>
    </div>
  </div>


<button class="btn bdate" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">OCTOBER 14</button>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body btext">
        ARRIVAL | 6AM | BREAKFAST  TBD | fREDERICKSBURG | ROUTE ONE | FENGSGARDENEGGROLLS | WEGMANS | POTOMAC MILLS | CHECK-IN | AFTERNOON-IN-DC
      </div>
    </div>
  </div>


<button class="btn bdate" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">OCTOBER 15</button>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body btext">
        SMITHSONIAN | WHITE HOUSE | NATIONAL MALL | US CAPITOL | U-STREET | OLD POST OFFICE | CHINATOWN | NATIONAL HARBOUR | METRO | THEWHARF
      </div>
    </div>
  </div>


<button class="btn bdate" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">OCTOBER 16</button>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample4">
      <div class="card card-body btext">
        FAREWELL | 3PM | KINGS DOMINION | CAROLINA BBQ |
      </div>
    </div>
  </div>
</div>

</div>

      {{!-- <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              October's FRIDAY THE 13TH 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
              <strong>V'S BDAY | FIRSTDAYOFTRAVEL | 6PM | FROM-BAMA | TO-GA | ATL | TO-SOUTH CAROLINA | TO-NC | CHAROLETTE | VA-BOUND | RICHMOND | 7-ELEVEN </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              October 14 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>ARRIVAL | 6AM | BREAKFAST  TBD | fREDERICKSBURG | ROUTE ONE | FENGSGARDENEGGROLLS | WEGMANS | POTOMAC MILLS | CHECK-IN | AFTERNOON-IN-DC </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              October 15
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>SMITHSONIAN | WHITE HOUSE | NATIONAL MALL | US CAPITOL | U-STREET | OLD POST OFFICE | CHINATOWN | NATIONAL HARBOUR | METRO | THEWHARF  </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              October 16 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>FAREWELL | 3PM | KINGS DOMINION | CAROLINA BBQ |</strong>
            </div>
          </div>
        </div>
      </div> --}}