.autolctn{
    color: black;
    margin: 10px;
    margin-left: 15px;
    width: 250px;
}
/* Automatic City Button Hover: */

/* .container-weather: */
#current-city {
    margin-top: 40px;
    color: blueviolet;
    font-size: large;
    text-align: center;
    background-color: black;
    font-weight: bold;
    border: solid;
    border-color: blueviolet;
    /* border: 30px;
    border-color: black; */
    /* border-radius: 30%; */
}

/* #current-city i{
    text-align: center;
} */

#fiveday {
margin-top: 50px;
color: orange;
font-size: medium;
text-align: center;
background-color: black;
font-weight: bold;
/* border: 50px;
border-color: yellow; */
border: solid;
/* border-radius: 15%; */
border-color: orange;
}